.appContainer {
    border: 5px solid grey;
    padding: 10px;
    display: flex;
    margin: 0 auto;
    max-width: 773px;
}

.title {
    padding: 0 26px;
    color: darkorange;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.orders {
    width: 300px;
    margin-bottom:10px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.boxItem {
    flex: 0 1 auto;
    align-self: auto;
    width: 150px;
}

. boxItemImg {

}

. boxItemName {

}
